.get-involved {
    background-color: var(--color-purple);
    text-align: center;
}
.header-style {
    background-color: var(--color-purple);
}

li > a {
    color: var(--color-background-blue);
}

.get-involved > h1 {
    color: white;
    padding: 200px 50px;
    margin: 0px;
}

.fa-bars {
    color: var(--color-background-blue);
}

.involved {
    background-color: var(--color-background-yellow);
    padding: 40px 0px;
    text-align: center;
}
  