.get-involved {
	background-color: var(--color-purple);
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.get-involved > h1 {
	color: white;
	text-align: center;
	max-width: 80vw;
}

.fa-bars {
	color: var(--color-background-blue);
}

.involved {
	background-color: var(--color-background-yellow);
	padding: 40px 0px;
	text-align: center;
}