@import "/css/imports/variables.css";
@import "/css/imports/links.css";

html {
    font-size: 100%;
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
	font-size: calc(12px + 0.3vw);
	line-height: 1.4;
	margin: 0;
	padding: 0;
    color: var(--color-paragraph-text);
}

h1, h2, h3 {
    color: var(--color-purple);
    margin: 0px 0px 5px 0px;
    font-weight: 400;
}


p {
    font-family: var(--text-paragraph), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

/*NAVIGATION*/

.logo {
    width: 130px;
}

header {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) repeat(1, auto);
    grid-gap: 56px;
    align-items: center;
    background-color: var(--color-background-blue);
    padding: 20px 40px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: inline-block;
}

.hamburger-icon {
    color: var(--color-purple);
}

nav {
    display: none;
}  

ul {
    list-style: none;
    padding: 0px;
}

/* HORIZONTAL CARD LAYOUT*/

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 20px 60px 20px;
    -webkit-overflow-scrolling: touch;
    gap: 20px;
    text-align: left;
}

    /* Remove scrollbar for Chrome, Safari and Opera */
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }

    /* Remove scrollbar for IE, Edge and Firefox */
.scrolling-wrapper {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
    
.card {
    flex: 0 0 auto;
    width: 95%;
}

.card-image {
    width: 100%;
    margin-bottom: 20px;
}

.scrolling-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
}





