/*HERO SECTION, JOIN US*/

.hero {
    background-color: var(--color-background-blue);
    text-align: center;
    padding: 50px 20px;

}

.hero-image, .join-image {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
}

.hero-paragraph, .join-paragraph {
    padding-bottom: 40px;
}


/*EXHIBITIONS*/


.exhibitions {
    background-color: var(--color-background-yellow);
    padding: 40px 0px;
    text-align: center;
}

.exhibitions-heading {
    text-align: center;
    margin-bottom: 50px;
}


/*JOIN US*/


.join {
    background-color: white;
    text-align: center;
    padding: 50px 20px;
}


