/*SMALL VIEWPORT*/

@media screen and (min-width: 769px) {

    /*NAVIGATION*/

    #hamburger-menu {
        display: none;
    }
    .hamburger-icon {
        display: none;
    }

    nav {
        display: inline-block;
    }

    .nav-style {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .logo {
        width: 180px;
    }

    /*HERO SECTION, JOIN US*/
    .hero, .join {
        display: flex;
        text-align: left;
        padding: 50px 40px;
    }

    .hero-image {
        order: 2;
        max-width: 100%;
    }

    .hero-text {
        order: -1;
        margin-right: 80px;
    }

    .hero-heading , .hero-paragraph {
        text-align: left;
    }

    .join {
        align-items: center;
    }


}

/*MEDIUM VIEWPORT*/
@media screen and (min-width: 768px) {


    /*EXHIBITIONS*/
    .card {
        flex: 1;
        min-width: 40%;
    }

    .scrolling-heading {
        justify-content: space-evenly;
    }

}

/* LARGE VIEWPORT*/
@media screen and (min-width: 1024px) {

    /*EXHIBITIONS*/
    .card {
        flex: 1;
        min-width: auto;
    }

    .scrolling-heading {
        display: none;
    }

    .scrolling-wrapper-flexbox {
        gap: 30px;
    }

    /*JOIN US*/
    .join-image, .hero-image {
        margin: 0px;
        padding: 30px;
        
    }

    .join > * {
        flex: 1 1 0;
    }
    .hero > * {
        flex: 1 1 0;
    }

    
}


/* XLARGE VIEWPORT*/

@media screen and (min-width: 1441px) {

    /*NAVIGATION*/
    .logo {
        width: 340px;
    }


}




