
/*SMALL VIEWPORT*/
@media screen and (min-width: 768px) {


    /*NAV*/
    nav {
        position: inherit;
    }

    .nav-style > li {
        margin: 10px;
    }

    /*EXHIBITIONS*/
    .card {
        width: 33%;
    }

    /*SIGN UP FORM*/
    .signup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 40px;
    }

    .signup-input {
        width: 20rem;
    }

    .signup-desktop {
        display: flex;
        align-items: center;
    }

    /*ABOUT*/
    .about-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .about-info {
        margin: 80px;
    }

    /*ASSISTANCE*/
    .faq-container label::after {
        top: 38px;
    }

    /*CONTACT*/
    .card-two {
        width: 40%;
    }

    /*GET INVOVED*/

    .card-three {
        flex: 1;
    }

    .scrolling-heading-two {
        display: none;
    }

    /*FOOTER*/
    .footer-layout, .footer-flex {
        display: flex;
    }

    .footer-flex {
        justify-content: space-evenly;
        gap: 2rem;
    }

    .footer-logo, .footer-flex {
        flex: 1;
    }

    footer img {
        padding: 0px;
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        align-items: center;
    }

    .social {
        order: 3;
    }

    .footer-address, .footer-copyright, .social {
        margin: 0px;
    }

    .footer-copyright {
        order: 1;
    }

    .footer-address {
        order: 2;
    }
}

/*MEDIUM VIEWPORT*/

@media screen and (min-width: 769px) {

    /*NAVIGATION*/
    #hamburger-menu, .hamburger-icon {
        display: none;
    }

    nav {
        display: inline-block;
    }

    .nav-style {
        display: flex;
        gap: 2rem;
        list-style: none;
    }

    .logo {
        width: 180px;
    }

    /*HERO SECTION, JOIN US*/
    .hero, .join {
        display: flex;
        text-align: left;
        padding: 80px 40px;
    }

    .hero-image {
        order: 2;
        max-width: 100%;
    }

    .hero-text {
        order: -1;
        margin-right: 80px;
    }

    .hero-heading , .hero-paragraph {
        text-align: left;
    }

    .join {
        align-items: center;
    }

    .join-buttons {
        flex-direction: row;
    }
}

/* LAPTOP VIEWPORT*/
@media screen and (min-width: 1024px) {


    /*HERO SECTION*/
    .hero-paragraph {
        max-width: 830px;
    }

    /*EXHIBITIONS*/
    .scrolling-wrapper, .scrolling-wrapper-two {
        padding: 20px 40px;
        margin-bottom: 100px;
    }

    .scrolling-heading {
        justify-content: center;
        gap: 40px;
    }

    .card {
        width: 28%;
    }

    /*JOIN*/
    .join-image {
        margin: 0px;
        padding: 30px;
    }

    .join > * {
        flex: 1 1 0;
    }
    .hero > * {
        flex: 1 1 0;
    }

    .join-text {
        padding-left: 60px;
    }

    .join-paragraph {
        margin: 20px 0px;
    }

    /*HOW TO EXPLORE*/
    .explore {
        display: inline-block;
        background-image: url(/images/planets-background-cosmo.svg); /*‘Illustrations by Freepik Storyset’*/
        background-repeat: no-repeat;
        background-position: right -180px bottom -290px;
    }

    /*OUR EXHIBITIONS*/
    .our-exhibitions {
        height: 500px;
        background-image: url(/images/exhibitions-science-cosmo.svg); /*‘Illustrations by Freepik Storyset’*/
        background-repeat: no-repeat;
        background-position: right bottom -90px;
    }

    .exhibitions-content {
        padding: 200px 60px;
        width: 800px;
    }

    /*PAST EXHIBITIONS*/
    .past-exhibitions {
        padding: 200px 0px 40px 0px;
        background-image: url(/images/exhibitions-robotics-cosmo.svg); /*‘Illustrations by Freepik Storyset’*/
        background-repeat: no-repeat;
        background-position-x: -300px;
    }

    /*ABOUT*/
    .about-info {
        margin: 120px auto;
        max-width: 60%;
    }

    /*CONTACT*/
    .card-two {
        flex: 1;
        margin: 15px;
    }

    .scrolling-heading {
        display: none;
    }

    .contact {
        background-image: url(/images/contact-cosmo.svg); /*‘Illustrations by Freepik Storyset’*/
        background-repeat: no-repeat;
        background-position-x: -250px;
        background-size: 500px;
    }

}


/*RETINA*/
@media screen and (min-width: 1420px) {

    .explore {
        background-position: right -180px bottom -280px;
    }
}


/* LAPTOP L VIEWPORT*/

@media screen and (min-width: 1440px) {


    /*EXHIBITIONS*/
    .card {
        width: 30%;
    }

    /*OUR EXHIBITIONS*/
    .exhibitions-content {
        padding: 200px 60px;
        width: 900px;
    }

    /*ABOUT*/
    .about-info {
        padding: 100px;
        margin: auto;
    }
}


    

/* 4K VIEWPORT*/

@media screen and (min-width: 1441px) {

    /*NAVIGATION*/
    .logo {
        width: 340px;
    }

    /*OUR EXHIBITIONS*/
    .scrolling-wrapper > .card {
        flex: 1;
    }

    .new-exhibitions .exhibitions .news .explore > .scrolling-heading {
        display: none;
    }

    /*ASSISTANCE*/
    .faq-container label::after {
        top: 45px;
    }
    
    /*ABOUT*/
    .about-info {
        margin: 180px auto ;
    }

    /*GET-INVOLVED*/
    .involved {
        padding: 100px 0px;
    }

}





