.button {
    font-family: var(--text-heading), sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 40px;
    border: none;
    background-color: var(--color-purple);
    color: white;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 0.6em 1em -0.6em var(--color-purple);
}

.link-button {
    text-decoration: underline;
}

.link-button:hover {
    font-weight: bold;
}





