:root {
    --text-heading: "roboto mono";
    --text-paragraph: "open sans";
    --color-background-blue: #60e6b2;
    --color-background-yellow: #fff24f;
    --color-paragraph-text: #171724;
    --color-purple: #3a0e7b;
  }